@import "tailwindcss";
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
/* Your custom CSS below */


html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    
}
html, body {
    overflow-x: hidden;
    width: 100%;
  }


